h1, h2, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}

h2 {
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
}

h3 {
    font-size: 1rem;
    letter-spacing: 0.05rem;
}

p {
    font-size: $baseFontSize;
    &.footer {
        font-size: 0.8rem;
    }
}


